html {
    height: 100%;
    background: linear-gradient(#8b5a2b, #8b4513);
    background-attachment: fixed;
    color: #dfdfdf;
    font-family: system-ui;
}

body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
}

dl {
    padding-top: 1em;
    padding-left: 4em;
}

dt {
    text-decoration: underline;
}