* {
    -webkit-user-drag: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    background: rosybrown;
}

#love-function {
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: red;
}

#music {
    position: absolute;
    display: flex;
    white-space: nowrap;
    left: 0;
    top: 0;
    animation: movement linear 80s infinite alternate;
}

#art {
    position: absolute;
    display: flex;
    white-space: nowrap;
    left: 0;
    top: 300px;
    animation: movement linear 80s infinite alternate;
}

#item {
    width: 300px;
    height: 300px;
    filter: brightness(50%);
    transition: .8s ease;
}

#item:hover {
    cursor: pointer;
    filter: brightness(100%);
}

@keyframes movement {
    to {
        transform: translateX(-100%);
    }
}