* {
    -webkit-user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    background: rosybrown;
    background-attachment: fixed;
}

#love-function {
    position: fixed;
    bottom: 0;
    right: 0;
    border: none;
    border-radius: 50%;
    background: none;
    cursor: pointer;
    font-size: 18px;
    color: red;
}

.music {
    position: absolute;
    display: flex;
    white-space: nowrap;
    left: 0;
    top: 0;
    animation: movement linear 100s infinite alternate;
}

#song {
    width: 300px;
    height: 300px;
    filter: brightness(50%);
    transition: .8s ease;
}

#song:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.art {
    position: absolute;
    display: none;
    white-space: nowrap;
    left: 0;
    top: 300px;
}

#picture {
    width: 300px;
    height: 300px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .8s ease;
}

#picture:hover {
    height: 310px;
    cursor: pointer;
    opacity: 1;
    filter: contrast(120%);
}

@keyframes movement {
    to {
        transform: translateX(-100%);
    }
}