html {
    height: 100%;
    background: linear-gradient(310deg, rgb(184, 98, 123), rgb(31, 122, 47));
    background-attachment: fixed;
}

body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: .25em;
    gap: .25em;
}

button {
    min-height: 3.5em;
    font-family: system-ui;
    font-size: 14px;
    color: #dfdfdf;
    border: none;
    background: radial-gradient(circle, rgb(101, 0, 148), rgb(30, 8, 82));
    cursor: pointer;
    border-radius: 8px;
}