html {
    height: 100%;
    background: linear-gradient(#4C002D, #25005F);
}

.media {
    display: flex;
    height: 10cm;
}

.media img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: 1s ease;
}

.media img:hover {
    cursor: pointer;
    width: 5cm;
    opacity: 1;
    filter: contrast(120%);
}

@media screen and (min-width:1921px) {
    html {
        background: black;
    }
}