html {
    height: 100%;
    background: linear-gradient(#4C002D, #25005F);
}

.minami {
    display: flex;
    width: auto;
    height: 300px;
    margin-top: -.5cm;
    margin-left: -.1cm;
    margin-right: -.2cm;
}

.minami img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: 1s ease;
}

.minami img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}