html {
    height: 100%;
    font-size: 100%;
    background: linear-gradient(#4C002D, #25005F);
}

.media {
    display: flex;
    height: 300px;
}

.media img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: 1s ease;
}

.media img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}