html {
    height: 100%;
    background: linear-gradient(rgb(0, 0, 80), rgb(0, 0, 180));
    background-attachment: fixed;
}

table {
    font-family: system-ui;
    border-collapse: separate;
    width: 100%;
    table-layout: fixed;
    padding: .7cm;
    text-align: center;
}

td,
tr,
th {
    padding: 8px;
    background: #dfdfdf;
}

a {
    text-decoration: none;
}